.wrapper-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.wrapper-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  margin: 0 auto;
}
