.container-post {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 16px;
  display: grid;
  grid-template-columns: 42px 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 16px 12px;
}

.profile {
  grid-row: 1 / -1;
}

.container-user {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.content {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: normal;
  word-break: break-all;
}

.list-images {
  box-sizing: border-box;
  margin: 0 auto;
  height: 314px;
  max-width: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* 이미지가 여러 개일 때 스크롤을 없앱니다. */
/* .list-images::-webkit-scrollbar{
  display:none;
} */

.item-image {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.item-image:not(:last-of-type) {
  margin-right: 8px;
}
