.container-post {
  width: 100%;
  padding: 20px 16px;
  display: grid;
  grid-template-columns: 54px 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 16px 12px;
}

.profile {
  grid-row: 1 / -1;
}

.container-user {
  padding: 4px 0;
}