.container-comment {
  display: inline-block;
}

.link-comment {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 0;
  background-image: url("../../../assets/icon-message.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.count-comment {
  padding: 0 6px;
  font-size: 1.2rem;
  line-height: 20px;
  vertical-align: top;
  color: var(--darkgray-color);
}