.container-users {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  gap: 16px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}
