.follow-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 358px;
  margin: 0px auto;
}

.follow-wrapper > div:nth-child(2) {
  max-width: 240px;
  margin: 5px 0 6px 12px;
}

.follow-wrapper > button {
  width: 56px;
  justify-self: end;
  margin-left: auto;
}
