.wrapper-follow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 358px;
  margin: 0px auto;
}

.wrapper-follow > div:first-child {
  min-width: 50px;
}

.wrapper-link {
  display: block;
  max-width: 240px;
}

.wrapper-follow > button {
  width: 56px;
  justify-self: flex-end;
  margin-left: auto;
}

@media screen and (max-width: 400px) {
  .wrapper-link {
    max-width: 180px;
  }
}

@media screen and (max-width: 300px) {
  .wrapper-link {
    max-width: 100px;
  }
}