.button-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 0 91px;
}

.button-wrapper > a:first-child {
  width: 120px;
}

.button-wrapper > a:last-child {
  width: 100px;
}
