.wrapper-splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(/src/assets/background-splash.svg);
}

.logo-main {
  display: block;
  width: 194px;
  height: 172px;
  opacity: 1;
  transition: 2s opacity ease-out;
}

.logo-main-hide {
  opacity: 0;
}

.button-start {
  display: block;
  width: 271px;
  height: 98px;
  background-image: url(/src/assets/button-splash.svg);
}
