.container-user {
  width: 100%;
  display: flex;
}

.info-user {
  width: auto;
  padding: 6px 12px;
}

.username {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.id {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--darkgray-color);
}

.word-colored {
  color: var(--main-color);
  font-weight: 500;
}

.username .word-colored {
  font-weight: 600;
}
