.wrapper-header {
  margin: auto;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  max-width: 800px;
  background-color: white;
  height: 48px;
  padding: 8px 16px 7.5px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--lightgray-color);
}

.large {
  padding-left: 8px;
  font-size: 1.8rem;
  font-weight: 500;
}

.small {
  padding-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}

.wrapper-header > button:nth-child(n + 2) {
  justify-self: end;
  margin-left: auto;
}

.button button:nth-child(2) {
  justify-self: end;
  margin-left: auto;
  width: 90px;
}
