.user_name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 18px;
}

.user_introduce {
  margin-top: 6px;
  font-size: 1.2rem;
  line-height: 15px;
  color: #767676;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
