.button {
  display: block;
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 44px;
  background-color: #F26E22;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.disabled {
  background-color: #FFC7A7;
}

.secondary {
  border: 1px solid #DBDBDB;
  background-color: #fff;
  color: #767676;
}

.large {
  padding: 13px;
}

.medium {
  padding: 8px;
}

.medium_small {
  padding: 7px;
}

.small {
  padding: 7px;
  font-size: 12px;
}