.button {
  width: 100%;
  border: 0;
  border-radius: 44px;
  background-color: #F26E22;
  color: #fff;
  font-size: 14px;
}

.button.disabled {
  background-color: #FFC7A7;
}

.button.secondary {
  border: 1px solid #DBDBDB;
  background-color: #fff;
  color: #767676;
}

.button.large {
  padding: 13px;
}

.button.medium {
  padding: 8px;
}

.button.medium_small {
  padding: 7px;
}

.button.small {
  padding: 7px;
  font-size: 12px;
}