.wrapper-comment {
  display: grid;
  grid-template-columns: 34px 1fr 18px;
  grid-gap: 4px 0;
}

.comment_info {
  grid-column: 2 / 3;
  margin: 6px 0 0 12px;
  height: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comment_info strong {
  font-size: 1.4rem;
  font-weight: 500;
}

.comment_info small {
  margin-left: 6px;
  color: var(--darkgray-color);
}

.wrapper-comment button {
  margin-top: 6px;
}

.text {
  margin-left: 12px;
  grid-column: 2 / 3;
  line-height: 18px;
  font-size: 1.4rem;
}
