.container {
  display: inline-block;
}

/* 프로필 이미지 수정 시 사용되는 버튼일 경우 */
.profile {  
  position: absolute;
  right: 0;
  bottom: 0;
}

.label-file {
  display: inline-block;
  border-radius: 50%;
  background-color: #F26E22;
  background-image: url(../../../assets/icon-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.medium {
  width: 36px;
  height: 36px;
  background-size: 22px;
}

.large {
  width: 50px;
  height: 50px;
  background-size: 28px;
}