@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;

  /* 
  사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => otf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: 
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf") format("opentype"),
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot?iefix") format("embedded-opentype");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;

  src: 
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf") format("opentype"),
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot?iefix") format("embedded-opentype");

  font-weight: 500;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  font-display: fallback;

  src: 
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf") format("opentype"),
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("./assets/font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot?iefix") format("embedded-opentype");

  font-weight: 700;
}