@font-face {
  font-family: "SpocaHanSansNeo";
  font-display: fallback;

  /* 
  사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => otf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: 
    url("./SpocaHanSansNeo-Regular.otf") format("opentype"),
    url("./SpocaHanSansNeo-Regular.woff") format("woff"),
    url("./SpocaHanSansNeo-Regular.eot?iefix") format("embedded-opentype");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}