/* 색상변수 설정 */
:root {
  --main-color: #2f51cf;
  --disabled-color: #9aaae6;
  --error-color: #eb5757;
  --darkgray-color: #767676;
  --middlegray-color: #c4c4c4;
  --lightgray-color: #dbdbdb;
  --whitegray-color: #f2f2f2;
}

html {
  font-size: 10px;
  font-family: SpoqaHanSansNeo, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* UI 여백 */
body {
  padding-top: 48px;
}

/* 모듈 */
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.max-width {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-padding {
  padding: 34px;
}

/* scroll */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--middlegray-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
