.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_name {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 20px;
}

.user_id {
  margin: 6px auto 16px;
  font-size: 1.2rem;
  line-height: 15px;
  color: #767676;
}

.user_introduce {
  font-size: 1.4rem;
  line-height: 18px;
  color: #767676;
}
