.container-search_notice {
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 10px 0 20px;
  font-size: 1.4rem;
  color: var(--darkgray-color);
}

.container-search_notice > a {
  width: fit-content;
  padding: 13px 35px;
}